body
{
    background-color: bisque;
    margin: 0;
    font-family: monospace;
}
.sq
{
    width:30%;
    padding-bottom: 30%;
    background-color: black;
    float: left;
    margin:1.66%;
    border-radius: 30px;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
   
}
h1
{
    text-align: center;
    background-color: darkgrey;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding:20px 0;
}
#colordis
{
    font-size: 200%;
}
button
{
border: none;
background:none;
text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: darkgray;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
        -webkit- transition: all 0.5s;
    -moz- transition: all 0.5s;
    outline: none;
    }
button:hover
{
    background-color: darkgray;
    color: white;
}
#msg
{
    display: inline-block;
    width: 20%;
}
#container
{
    max-width: 600px;
    margin: 20px auto;
    
}
#stripe 
{
    background-color: white;
    height: 30px;
    text-align: center;
}
.selected
{
    background-color: darkgrey;
    color: wheat;
}